[channel.slack_general]
type = "slack"
api_token = "---"
channel = "---"

[channel.debug]
type = "debug"

[file.test]
path = "./test.log"

[alert.test]
file = "test"
regex = "1"
channel = "debug"
grace = { minutes = 2, seconds = 10 }
min_occurrences = 3
message = "Something happened in the file test!"
